<div>
    <div>
        <p class="lead">
          The best slushies and sundaes in the milky way galaxy.
        </p>
      </div>
      <div class="deck">
        <div class="item" routerLink="/vendor">
          <div class="image vendor" title="The Vendor"></div>
          <div class="tag">The Vendor</div>
        </div>
        <div class="item" routerLink="/customers">
          <div class="image customer" title="The Party"></div>
          <div class="tag">The Party</div>
        </div>
      </div>
</div>
