<div>
    <table class="stats">
        <thead>
            <tr>
                <th colspan="2">Stats</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Open Orders</th>
                <td>{{ currentStats.openOrders }}</td>
            </tr>
            <tr>
                <th>Total Slushie Orders</th>
                <td>{{ currentStats.totalOrdersMade }}</td>
            </tr>
            <tr>
                <th>Total Slushie Deliveries</th>
                <td>{{ currentStats.totalSlushiesMade }}</td>
            </tr>
            <tr>
                <th>Customers</th>
                <td>{{ currentStats.customers }}</td>
            </tr>
            <tr>
                <th>Customer Satisfaction</th>
                <td>{{ currentStats.customerSatisfaction }}%</td>
            </tr>
        </tbody>
    </table>
</div>
