/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
html,
body{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #dd9999;
    font-family:'open sans', helvetica, sans-serif;
    color: #442024;
    background-image: url('assets/images/slushiecorp_background_pattern.png');
    background-attachment:fixed;
}
.header-bar{
    margin-top:-15px;
    margin-right: -15px;
    text-align:right;
    width:100%;
    position:sticky;
    top:74px;
}
.back-button{
    display:inline-block;
    background-color: #70a0ee;
    color:#eee;
    font-weight:bold;
    cursor:pointer;
    width:200px;
    border-bottom-left-radius:5px;
    text-align:center;
    padding:5px;
}
.btn{
    background-color: #70a0ee;
    color:#eee;
    font-weight:bold;
    cursor:pointer;
    border:0px;
    padding: 5px;
    box-shadow:2px 2px 4px rgba(200, 220, 230, 0.9);
}
.btn-round{
    border-radius:50%;
}
.btn:not(.btn-round){
    border-radius: 4px;
    padding: 5px 15px;
}
.btn-danger{
    background-color:#ff5555;
    box-shadow:2px 2px 4px rgba(220, 180, 180, 0.8);
}
.btn-success{
    background-color:#7c8;
    box-shadow:2px 2px 4px rgba(100, 220, 150, 0.8);
}
.text-field{
    border: 1px solid #dfdfdf;
    padding:5px 10px;
    width:200px;
    color: #555;
    margin: 2px;
}
.txt-right{
    text-align:right;
}
.card{
    display:flexbox;
    background-color:pink;
    box-shadow:2px 2px 4px rgba(152, 50, 50, 0.6);
    margin: 10px;
    padding:10px;
}